<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheets/style.css" charset="utf-8">
    <!-- Angular must be included in the head so that the templates work properly -->
    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
  	<script src="scripts/app.js"></script>
  	<script src="scripts/controllers.js"></script>
    <script src="scripts/directives/photoList.js"></script>
    <script src="scripts/directives/starRating.js"></script>
    <script src="scripts/services/photoService.js"></script>
    <script src="scripts/services/ratingDataService.js"></script>
  </head>
  <body ng-app="myAngularApp" ng-controller="appController">
    <!-- Navigation -->
    <header class="navbar navbar-inverse navbar-fixed-top container">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active: isSet(1) }">
          <a href ng-click="setTab(1)" class="nav-link">Home</a>
        </li>
        <li ng-class="{ active: isSet(2) }">
          <a href ng-click="setTab(2)" class="nav-link">Photo Grid</a>
        </li>
        <li ng-class="{ active: isSet(3) }">
          <a href ng-click="setTab(3)" class="nav-link">Show Top 6 Rating</a>
        </li>
      </ul>
    </header>

    <!-- Pictures -->
    <section class="container">
      <div class="photo-container">
        <div ng-show="isSet(1)">
          <h1>FrontendTest-AngularJS</h1>
          <p>Welcome to the website!</p>
        </div>
        <div ng-show="isSet(2) || isSet(3)">
          <h1 ng-show="isSet(2)">Photo List</h1>
          <p ng-show="isSet(2)">You could vote maximum of 10 photos</p>
          <h1 ng-show="isSet(3)">Top 6 Rating</h1>
          <div photo-list num="photoNumber" order-property="photoOrderBy" max-rating="maxRating">
          </div>   
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="http://pacificsoftdev.com/"> PSCD Co., Ltd</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </body>
</html>
