/* text color */
h1, p, a {
  color: $cyan !important;
}

/* nav link color */
.nav-pills > li.active > a {
  background-color: $dark;
  border-color: $dark;
  border-radius: 25px; 
}

/* photo width */
.photo-container {
	overflow: hidden;
	margin-bottom: 20px;
	.photo {
		width: 20%;
		float: left;
		position: relative;
		over-flow: hidden;
		@media (max-width: 768px) {
			width: 33.3333%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
		.img-responsive{
			width: 100%;
		}
	}
}

/*** rating stars style ***/
.rating-container {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $black;
    opacity: 0.8;
    display: table;

	.rating-inner {
	    text-align: center;
	    vertical-align: middle;
	    display: table-cell;

		p{
		    margin-bottom: 0px;
		}

		.rating {
		    color: $dark;
		    margin: 0;
		    padding: 0;

			li {
			    list-style-type: none;
			    display: inline-block;
			    padding: 1px;
			    text-align: center;
			    font-weight: bold;
			    cursor: pointer;
			    font-size: 22px;
			}

			.filled {
			    color: $yellow;
			}
		}
	}
}
