body{

}

/* text color */
h1, p, a {
  color: #4DC9C9 !important;
}

/* nav link color */
.nav-pills > li.active > a {
  background-color: #6C6C6C !important;
  border-color: #6C6C6C !important;
  border-radius: 25px; 
}

/* photo width */
.photo-container {
	overflow: hidden;
	margin-bottom: 20px;
}
.photo-container .photo {
	width: 20%;
	float: left;
}
.photo-container .photo .img-responsive{
	width: 100%;
}
@media (max-width: 768px) {
	.photo-container .photo {
		width: 33.3333%;
	}
}
@media (max-width: 480px) {
	.photo-container .photo {
		width: 100%;
	}
}